<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.contron.androidpn">
    <!--唤醒权限，避免在锁屏时线程被挂起-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--接收开机启动的通知的权限，实现服务开机自启的必要权限-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>
        <service android:name="org.androidpn.client.ForegroundEnablingService" />
        <service
            android:name="org.androidpn.client.NotificationService"
            android:enabled="true"
            android:label="NotificationService">
            <intent-filter>
                <action android:name="org.androidpn.client.NotificationService" />
            </intent-filter>
        </service>
        <receiver
            android:name="org.androidpn.client.PushServiceReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>